<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter that Data</title>

    <!-- tailwind is "a utility-first CSS framework used to style the application" -->
    <script src="https://cdn.tailwindcss.com"></script>
  
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              salmon: '#ed796c',
              steelblue: '#5284b6',
              slategray: '#333333',
              dark: '#171717'
            }
          }
        }
      }
    </script>

    <!-- chartjs is a "simple yet flexible JavaScript charting for designers & developers" -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-slategray">
    <script src="https://unpkg.com/vue@3"></script>
    <script crossorigin="anonymous"  src="https://unpkg.com/vue-csv-import@4.1.2"></script>
    
    <div id="app" class="p-4 container mx-auto">
      <h1 class="uppercase text-salmon text-bold text-xl">Set Labels</h1>
      <div class="space-y-4">
        <div>
          <input v-model="info.title" class="rounded-md w-[400px] p-1" type="text" placeholder="Enter Chart Title">
        </div>
        <div>
          <input v-model="info.xaxis" class="rounded-md w-[400px] p-1" type="text" placeholder="Enter X Axis">
        </div>
        <div>
          <input v-model="info.yaxis" class="rounded-md w-[400px] p-1" type="text" placeholder="Enter Y Axis">
        </div>
      </div>
      <div class="mt-6">
        <h2 class="uppercase text-salmon text-bold text-xl">Enter Data</h2>
        <input v-model="xvalue" type="number" class="rounded-md p-1 w-[190px] mr-[20px]" placeholder="Enter X value">
        <input  v-model="yvalue" type="number" class="rounded-md p-1 w-[190px] mr-[20px]" placeholder="Enter Y value">
        <button type="submit" v-on:click="addToData" class="bg-steelblue p-2 rounded-lg hover:bg-salmon text-white">Add Data</button>
      </div>
      <div class="text-white mt-8">
        <table v-if="chartData.length > 0" class="table-fixed min-w-[500px] text-center border border-dark">
          <tr v-if="info.yaxis||info.xaxis" class="bg-dark">
            <th class="border border-dark min-w-[250px]">{{ info.xaxis }}</th>
            <th class="border border-dark min-w-[250px]">{{ info.yaxis }}</th>
          </tr>
          <tr v-for="data in chartData">
            <td class="border border-dark min-w-[250px]">{{ data.x }}</td>
            <td class="border border-dark min-w-[250px]">{{ data.y }}</td>
          </tr>
        </table>
      </div>
      <template>
        <vue-csv-import
            v-model="csv"
            :fields="{name: {required: false, label: 'Name'}, age: {required: true, label: 'Age'}}">
            <vue-csv-toggle-headers></vue-csv-toggle-headers>
            <vue-csv-errors></vue-csv-errors>
            <vue-csv-input></vue-csv-input>
            <vue-csv-map></vue-csv-map>
        </vue-csv-import>
      </template>
      <scatter-plot :test="chartData" :title="info.title" :yaxis="info.yaxis" v-bind:xaxis="info.xaxis"></scatter-plot>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components -->
    <script src="./components/scatterPlot.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.use('vue-csv-import').mount('#app')
    </script>

</body>
</html>